<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.GameMapper">
    <resultMap id="countryResult" type="domain.GameRecords">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
    </resultMap>
    <resultMap id="moveResult" type="domain.Move">
        <id column="color" property="color"/>
        <result column="piece" property="piece"/>
        <result column="moveFrom" property="moveFrom"/>
        <result column="moveTo" property="moveTo"/>
    </resultMap>
</mapper>