<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.TournamentMapper">
    <resultMap id="tournamentResult" type="domain.Tournament">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
    <resultMap id="tournamentGameResult" type="domain.TournamentGameRecords">
        <id column="game_id" property="id"/>
        <association property="player1" javaType="domain.Player" resultMap="mybatis.DictionaryMapper.playerResult" columnPrefix="p1_"/>
        <association property="player2" javaType="domain.Player" resultMap="mybatis.DictionaryMapper.playerResult" columnPrefix="p2_"/>
    </resultMap>
</mapper>